body 
    {
        background-color: antiquewhite;
        margin: 20px;
    }
h1 
    {
        color: maroon;
    }
p   
    {
        color: darkred;
        background-color: bisque;
        font-size: 1.2em;
    }