body 
    {
        background-color: antiquewhite;
        margin: 20px;
    }
h1 
    {
        color: maroon;
    }
h2
    {
        color: indigo;
    }
p   
    {
        color: darkred;
        background-color: bisque;
        font-size: 1.2em;
    }
footer
    {
        color: gray;
        background-color: bisque;
        font-size: 0.8em;
    }